@import url('media.css');
@import url('theme.css');
@import url('https://fonts.cdnfonts.com/css/ocr-a-std');
:root {
    --primary-green: #5e7153;
    --primary-orange: #c66828;
    --primary-brown: #783e19;
    --secondary-green: #a9b489;
    --secondary-yellow: #f9ecc9;
    --light: #fafafa;
    --dark: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body{
    background: url("./../../images/bg/header.jpg") no-repeat center center fixed;
    overflow: hidden;
    color: #f9ecc9;
    font-family: 'OCR A Std', sans-serif;
}

/*
Default
*/

main#app-main{
    position: absolute;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: #007 #bada55;
}

.full-column{
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*
header
*/
header#top{
    height: 100%;
    width: 100%;
    position: relative;
    background: #5e7153;
}


/*
Sections
*/
div#sections{
    height: 100%;
    width: 100%;
    position: relative;
    background: #c66828;
}

/*
footer
*/
footer#footer{
    height: 100%;
    width: 100%;
    position: relative;
    background: darkcyan;
}
